{% load static %}
<!-- FOOTER -->
<footer id="footer" data-stellar-background-ratio="0.5" style="background-color: black;">
     <div class="col-md-6 col-sm-12">

          <div class="col-md-12 col-sm-12">
               <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                    <h2>Contact Us</h2>
               </div>
          </div>

          <!-- CONTACT FORM -->
          <p>Email : foodextra.in@gmail.com</p>
          <p>Phone : +91 7594066757</p>
          <p>Calicut University P O</p>
     </div>

</div>
</div>
</section>          


<!-- FOOTER -->
<footer id="footer" data-stellar-background-ratio="0.5">
<div class="container">
<div class="row">

    
     <div class="col-md-2 col-sm-4">
          <div class="wow fadeInUp copyright-text" data-wow-delay="0.8s"> 
               <p><br>Copyright &copy; 2022 <br>FoodXtra                               
          </div>
     </div>
     
</div>
</div>
</footer>

             

<!-- SCRIPTS -->
<script src="{% static 'js/register.js' %}"></script>
<script src="{% static 'js/jquery1.js' %}"></script>
<script src="{% static 'js/bootstrap1.min.js' %}"></script>
<script src="{% static 'js/jquery1.stellar.min.js' %}"></script>
<script src="{% static 'js/wow1.min.js' %}"></script>
<script src="{% static 'js/owl1.carousel.min.js' %}"></script>
<script src="{% static 'js/jquery1.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/smoothscroll1.js' %}"></script>
<script src="{% static 'js/custom1.js' %}"></script>

</body>
</html>