{% load static %}
{% include 'indexheader.html' %}
<html>
    <head>
        <script type="text/javascript">
        function register()
{
    if(!isNaN(f.name.value))
    {
        alert("enter name in character format");
        f.name.focus();
        return false;
    }
    
    var a= /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
    if(!(f.email.value.match(a)))
    {
        f.email.focus();
        alert("enter the valid email");
        return false;
    }
    
    if(f.phone.value.length!=10)
    {
        alert("enter valid mobile number")
        f.phone.focus()
        return false;
    }
    if(isNaN(f.phone.value))
    {
        alert("enter valid mobile number")
        f.phone.focus()
        return false;
    }
    return true;
}  
        </script>
    </head>
</html>
<section class="form">
    <div class="containerc">
        <div class="contentc">
            <form action="/publicrequestupdation/{{data.donation_id}}" method="post" name="f" enctype="multipart/form-data">
                {% csrf_token %}
                 
                <input type="hidden" name="donation_id" class="inputs" value="{{data.donation_id}}" readonly><br>
                <input type="hidden" name="food" class="inputs" value="{{data.name}}" readonly><br>
                <label for="" class="labels">Name</label><br>
                <input type="text" name="name" class="inputs" required><br>
                <label for="" class="labels">Address</label><br>
                <textarea name="location" cols="30" rows="5" required></textarea><br>
                <label for="" class="labels">Pincode</label><br>
                <input type="tel" name="pincode" class="inputs" required maxlength="6" pattern="[0-9]{6}"><br>
                <label for="" class="labels">Phone number</label><br>
                <input type="tel" name="phone" class="inputs" required maxlength="10" pattern="[0-9]{10}"><br>
                <label for="" class="labels">email</label><br>
                <input type="email" name="email" class="inputs" required><br>
                <label for="" class="labels">Quantity required</label><br>
                <input type="number" name="quantity" class="inputs" required><br>
                <button class="btn" onclick="register()">Complete Request</button>
            </form>
        </div>
    </div>
    
</section>
{% include 'adminfooter.html' %}
