{% load static %}
{% include 'donorheader.html' %}
<div class="containert">
    <div class="contentt">
        <table id="customers">
            <tr>
                
                <th>Name</th>
                <th>Contact</th>
                <th>Address</th>
                <th>Email</th>
                <th>Item</th>
                
                
            </tr>
           {% for ct in data %}
           <tr>
               <td>{{ct.contact_person}}</td>
               <td>{{ct.phone}}</td>
               <td>{{ct.location}}</td>
               <td>{{ct.email}}</td>
               <td>{{ct.request_food}}</td>
               
             
           {% endfor %}
           </tr>
        </table>
    </div>
</div>
{% include 'adminfooter.html' %}